* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.rectangle {
  position: absolute;
  border: 1px solid red;
  box-sizing: border-box;
}
.size-box {
  position: absolute;
  padding: 2px 5px;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  user-select: none;
  z-index: 9;
  display: none;
}
.size-box.active {
  display: block;
}
.resize-nw {
  cursor: nw-resize;
}
.resize-ne {
  cursor: ne-resize;
}
.resize-sw {
  cursor: sw-resize;
}
.resize-se {
  cursor: se-resize;
}
.resize-ns {
  cursor: ns-resize;
}
.resize-ew {
  cursor: ew-resize;
}
.move {
  cursor: move;
}
